@font-face {
    font-family: 'FontTimerLed';
    src: url('Fonts/DS-DIGI.TTF');
}

.custom-label {
    -fx-font-family: 'FontTimerLed';
    -fx-font-size: 130px; 
}

.custom-anchorpane{
    -fx-background-image: url('../imgs/sfondoInziale.png');
    -fx-background-size: cover;
}

.chess-button {
    -fx-background-color: #333333; /* Colore di sfondo scuro per eleganza */
    -fx-text-fill: #FFFFFF; /* Testo bianco per contrasto */
    -fx-font-family: 'Georgia', serif; /* Font classico per l’atmosfera del gioco */
    -fx-font-size: 18px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 5px; /* Arrotonda leggermente i bordi */
    -fx-border-color: #D4AF37; /* Bordo dorato per un effetto premium */
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-cursor: hand; /* Cambia il puntatore per indicare che è un pulsante */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 5, 0, 0, 1); /* Effetto ombra */
    -fx-background-insets: 0;
    -fx-border-insets: 0;
}

.chess-button:hover {
    -fx-background-color: #444444; /* Cambia colore al passaggio del mouse */
    -fx-border-color: #FFD700; /* Bordo più chiaro in hover */
    -fx-effect: dropshadow(three-pass-box, rgba(255, 215, 0, 0.7), 10, 0, 0, 1); /* Effetto ombra dorata */
}

.chess-button:pressed {
    -fx-background-color: #222222; /* Colore più scuro quando è premuto */
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.6), 6, 0.2, 0, 1); /* Ombra interna per effetto premuto */
}

